/*.unityproj
/*.sln
/*.userprefs
/*.csproj
/*.pidb
AgentSmith/Library
/Temp

AgentSmith/Library/guidmapper

AgentSmith/Library/assetDatabase3

AgentSmith/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb

AgentSmith/Library/ScriptAssemblies/Assembly-UnityScript.dll

AgentSmith/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb

AgentSmith/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll

AgentSmith/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

AgentSmith/Library/ScriptAssemblies/Assembly-CSharp.dll

AgentSmith/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb

AgentSmith/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll

AgentSmith/Library/CurrentLayout.dwlt
